





{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.username) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.password) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.roles) }}
    </div>
</div>
<div class="col-md-5">
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
